<head>
  <title>appwall</title>
</head>

<body>
  <h1>Welcome to my meteor site..</h1>
    
    {{> form}}
    {{> posts}}
    
    <textarea rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
  
</body>